@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="height:30px" class="row"></div>
<div class="row">
    <div class="col-md-12">
        <h3 class="card-title">NModbusTCP Manual Connect</h3>
        <p class="card-text">Manually enter the information of the device you want to connect.</p>
        <table class="table">
            <tbody>
                <tr>
                    <td><input type="text" class="txtipaddress form-control" placeholder="Ip address" /></td>
                    <td><input type="text" class="txtport form-control" placeholder="Port" /></td>
                    <td><input type="text" class="txtslaveid form-control" placeholder="Slave id" /></td>
                    <td><input type="text" class="txtoffset form-control" placeholder="Offset" /></td>
                    <td><input type="text" class="txtnumber form-control" placeholder="Number" /></td>
                    <td><a href="#" class="btnconnect btn btn-success">Connect</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div style="height:30px" class="row"></div>
<div class="row">
    <div class="col-md-3">
        <table class="table" id="modbustable">
            <tbody>
                <tr><td><input type="text" class="txtoffsetpoint" placeholder="Offset" /></td></tr>
                <tr><td><input type="text" class="txtnewvalue" placeholder="New Value" /></td></tr>
                <tr><td><input type="button" class="btnnewregister btn btn-default" value="Change" /></td></tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-9" style="min-height:300px;align-content:center">
        <span class="modbusconnectstate" style="text-align:center;color:darkred;font-size:large;font-weight:500;font-family:'Times New Roman', Times, serif"></span>
        <div class="modbusdata">
        </div>
        

    </div>
</div>
<br />
@section Scripts {
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="~/js/NModbus.js" asp-append-version="true"></script>
}

