<ul class="navbar-nav navbar-right">
    <li><select class="slctparameter form-control"></select></li>
    <li><a href="#" style="margin-left:10px" class="btnautoconnect form-control">Auto Connect</a></li>
</ul>